body {
    background-color: #084d6e;
}

h1 {
    text-align: center;
    font-family: "Segan Light";
    color: aliceblue;
}
h2 {
    font-family: "Segan Light";
    font-size: small;
    text-align: center;
    color: aliceblue;
}