a{
    color: inherit;
    text-decoration: none;
}
body {
    background-color: #86B6DE;
    background-image: url(https://i.imgur.com/txa7lLk.png);
    
}

.content{
    width: 1080px;
    margin: auto;
}

.pin{
    width: 20px;
}

.lupa{
    width: 40px;
}

.title-img{
    width: 70px;
}

h1 {
    text-align: center;
    font-size: 70px;
}

.location{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.page-footer{
    font-family: 'Roboto', sans-serif;
    padding: 50px 50px;
    color: white;
    position: absolute;
    bottom: 0;
    text-shadow: 1px 1px 2px black;
    display: block;
}

#citynameinput{
    -webkit-appearance: none;
    width: 50%;
    max-width: 280px;
    height: 53px;
    color: black;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 15px;
    border: none;
    background: none;
    outline: none;
    color: inherit;
    border-bottom: 1px solid;
}
::placeholder{
    color: black;
}

.button{
    background-color: transparent;
    border: 1px solid;
    cursor: pointer;
    border-radius: 4px;
    padding: 15px 20px;
}