.content{
    width: 800px;
    margin: 0 auto;
}
a{
    color: inherit;
    text-decoration: none;
}
body {
    background-color: black;
}

h1 {
    text-align: left;
    font-family: "Segan Light";
    color: aliceblue;
    font-size: 50px;
    
}

.page-footer{
    font-family: "Segan Light";
    padding: 50px 50px;
    color: aliceblue;
    position: absolute;
    bottom: 0;
    text-align: right;
}

#citynameinput{
    background-color: transparent;
    position: center;
    margin: 0 auto;
    width: 50%;
    max-width: 280px;
    height: 53px;
    color:white;
    font-size: 25px;
    font-family: "Segan Light";
    border-radius: 4px;
}
.button{
    margin: auto;
    background-color: white;
    border: none;
    color:black;
    text-align: center;
    font-size: 25px;
    font-family: "Segan Light";
    cursor: pointer;
    padding: 15px 20px;
    margin-left: 15px;
    border-radius: 5px;
}